<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PhoneNumbers" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Anul3\Medii de programare si dezvoltare\lab51\PhoneNumbers.mdf;Integrated Security=True;Connect Timeout=30;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>